<div class="card col-md-6 col-sm-8 col-xs-12 mx-auto registration-form ">
    <div class="card-header" style="margin-left: -15px; margin-right: -15px;">
        <strong>Registration</strong>
    </div>
    <div class="card-block">
        <form  #registrationForm="ngForm" novalidate (ngSubmit)="registerStudent(registrationForm.value)" >
              <div class="form-group1">
                <md-form-field >
                  <input mdInput placeholder="First Name" [(ngModel)]="registerData.firstName" name="firstName">
                </md-form-field>
              </div>
              <div class="form-group1">
                <md-form-field >
                  <input mdInput placeholder="Last Name" [(ngModel)]="registerData.lastName" name="lastName">
                </md-form-field>
              </div>
              <div class="form-group">
                  <md-select placeholder="Gender" [(ngModel)]="registerData.selectedValue" name="gender">
                      <md-option value="Male"> Male </md-option>
                      <md-option value="Female"> Female </md-option>
                    </md-select>
              </div>
              <div class="form-group1">
                  <md-form-field >
                    <input mdInput [mdDatepicker]="picker" placeholder="Date of Birth" [(ngModel)]="registerData.dob" name="dob">
                    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                    <md-datepicker #picker></md-datepicker>
                  </md-form-field>
              </div>
              <div class="form-group1">
                  <md-form-field >
                      <input mdInput placeholder="Email" [(ngModel)]="registerData.email" name="email">
                  </md-form-field>
              </div>
              <div class="form-group1">
                  <md-form-field >
                    <input mdInput placeholder="phone" [(ngModel)]="registerData.phone" name="phone">
                  </md-form-field>
              </div>
              <div class="form-group1">
                  <md-form-field >
                    <input mdInput placeholder="address" [(ngModel)]="registerData.address" name="address">
                  </md-form-field>
              </div>
            
<!--   <div class="form-group">
                <input type="file" value="Choose photo.." (change)="uploadImage($event)">
              </div>
               ===============================                       -->
              <div class="form-group" style=" position: relative;">
				<input type="file"    (change)="uploadImage($event)"  class="file" style="    position: relative;
    width: 748px;
    height: 34px;
    text-align: right;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    /* margin-top: -21px; */
    /* margin-left: 17px; */" />
				  <div style="position: absolute;
    top: 0px;
    left: 3px;
    z-index: 1;">
					<md-form-field style=" margin-top: -30px;">
                    <input mdInput [(ngModel)]="imageName" name ="photoUpload" value="Choose photo.." style="     position: relative;
    height: 34px;
    width: 426px;
    font-weight: normal;
    border-radius: 2px;
    /* background-color: whitesmoke; */
    /* border: 1px solid #eceaea; */
    margin-left: -2px;">
                    <img src="assets/browseButton.png" />
                    </md-form-field>
					
				  </div>
			  </div>
<!--                ===============================                       -->



               <div class="form-group">
                <input type="file" value="upload aadhar" (change)="uploadAadhar($event)">
              </div> 
              <div class="button-row">
                  <button md-raised-button color="primary" type="submit">Submit</button>      
                     
              </div>
        </form>
    </div>

</div>


